table, th, td
{
border: 1px solid black;
}

.empty-cells-show{
  empty-cells: show; /*default value*/
}

.empty-cells-hide{
  empty-cells: hide;
}

.border-collapse-collapse{
  border-collapse: collapse;
}
.border-collapse-separate{
  border-collapse: separate; /*default value*/
}


.border-spacing-15px{
  border-spacing: 15px;
}

.border-spacing-15px-30px{
  border-spacing: 15px 30px;
}